:root {

    /* Primary */

--Soft_red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
/* graphic design text */
--Dark_desaturated_cyan: hsl(167, 40%, 24%);
/* photography text */
--Dark_blue:hsl(198, 62%, 26%);
/* footer  */
--Dark_moderate_cyan:hsl(168, 34%, 41%);

/* Neutral */
--Very_dark_desaturated_blue: hsl(212, 27%, 19%);
--Very_dark_grayish_blue: hsl(213, 9%, 39%);
--Dark_grayish_blue: hsl(232, 10%, 55%);
--Grayish_blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);

}
/* 
Font Family
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Quicksand', sans-serif; */

html {
  font-size: 18px;
}

body {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}
nav {
  background-color: #3ebfff;
}
.nav-item {
  font-size: 1rem;
}
main {
  background-color: #66BDFA;
}
.main_container  {
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 50vh;
}
.h1 {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
}
h2 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
}
p {
  color: var(--Dark_blue);
  font-weight: 600;
  font-size: 0.8rem;
  font-family: 'Quicksand', sans-serif;
}
.container_content {
  height: 40vh;
}
.image_hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image_transform {
  background-image: url(./images/desktop/image-transform.jpg);
}
.image_stand_out {
  background-image: url(./images/desktop/image-stand-out.jpg);
}
.justify-content-center {
  justify-content: center;
}